<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="The perfect personal assistant. Relaxr does your job for you so you can enjoy life as it is meant to be.">

		<title>Layout 5</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<header>
			<div class=logo></div>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</header>


	<main>

		<section class="sidebar"></section>
		<section class="topsection"></section>

		<section class="middlesection">
			<article class="middlearticle"></article>
			<article class="sidearticle"></article>
		</section>

		<section class="bottomsection">
			<article class="bottomarticle"></article>
			<article class="bottomarticle"></article>
			<article class="bottomarticle"></article>
			<article class="bottomarticle"></article>
		</section>
		</main>

	<footer class="clearfix"></footer>

	</body>
	</html>