<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="The perfect personal assistant. Relaxr does your job for you so you can enjoy life as it is meant to be.">

		<title>Layout 3</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<div class="headerstripe">
			<p>Header</p>
		</div>

		<div class="twoFerStripe">
			<div class="twoFerCol">
				<p>2Col</p>
			</div>
			<div class="twoFerCol">
				<p>2Col</p>
			</div>
		</div>

		<div class="threecolstripe">
			<div class="threecol"><p>3Col</p></div>
			<div class="threecol"><p>3Col</p></div>
			<div class="threecol"><p>3Col</p></div>
		</div>

		<div class="footerstripe"><p>Footer</p></div>

	</body>
	</html>