header {
	width: 95%;
	padding: 60px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	clear: both;
}

.logo {
	background: grey;
	float: left;
	width: 10%;
	padding: 30px;
}

li {
	background: grey;
	display: inline-block;
	list-style-type: none;
	float: right;
	width: 8%;
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

main {
	padding: 25px;
	height: 700px;
	overflow: hidden;
}

main .sidebar {
	background: red;
	float: left;
	height: 575px;
	padding: 50px;
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
}

main .topsection {
	display: inline-block;
	background: red;
	float: right;
	width: 900px;
	height: 200px;
	margin-left: 15px;
	margin-right: 15px;
}
main .middlesection {
	display: inline-block;
	float: right;
	width: 900px;
	height: 200px;
	margin: 15px;
}

main .middlearticle {
	background: red;
	display: inline-block;
	float: left;
	width: 620px;
	height: 200px;
	margin: 15px;
}

main .sidearticle {
	background: red;
	display: inline-block;
	float: right;
	width: 200px;
	height: 200px;
	margin: 15px;
}

main .bottomsection {
	display: inline-block;
	float: right;
	width: 900px;
	height: 200px;
	margin: 15px;
}

main .bottomarticle {
	background: green;
	display: inline-block;
	float: left;
	width: 195px;
	height: 200px;
	margin: 15px;
}

div {
	text-align:center;
}

footer {
	background: yellow;
	display: block;
	padding: 25px;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 50px;
}




